<div class="admin-quiz-detail">
  <h1>Quiz Name</h1>

  <div class="details">
    <div class="basic-info">
      <div class="info-item">
        <h3>Total no. of. Questions</h3>
        <p>10</p>
      </div>
      <div class="info-item">
        <h3>Total no. of. Questions</h3>
        <p>10</p>
      </div>
      <div class="info-item">
        <h3>Total no. of. Questions</h3>
        <p>10</p>
      </div>
      <div class="info-item">
        <h3>Total no. of. Questions</h3>
        <p>10</p>
      </div>
      <div class="info-item">
        <h3>Total no. of. Questions</h3>
        <p>10</p>
      </div>
    </div>
    <div class="basic-info">
      <div class="info-item">
        <h3>Total no. of. Questions</h3>
        <p>10</p>
      </div>
      <div class="info-item">
        <h3>Total no. of. Questions</h3>
        <p>10</p>
      </div>
      <div class="info-item">
        <h3>Total no. of. Questions</h3>
        <p>10</p>
      </div>
      <div class="info-item">
        <h3>Total no. of. Questions</h3>
        <p>10</p>
      </div>
      <div class="info-item">
        <h3>Total no. of. Questions</h3>
        <p>10</p>
      </div>
    </div>
  </div>
  <div class="action-btns">
    <button mat-raised-button color="warn">Detele Quiz</button>
  </div>
</div>
