<div class="admin-quiz-detail">
  <h1>Quiz Name</h1>
  <div class="details">
    <div class="basic-info">
      <div class="info-item">
        <h3>Quiz Name</h3>
        <p>{{ quiz.name }}</p>
      </div>
      <div class="info-item">
        <h3>Total no. of. Questions</h3>
        <p>10</p>
      </div>
      <div class="info-item">
        <h3>Category</h3>
        <p>{{ quiz.categoryName }}</p>
      </div>
      <div class="info-item">
        <h3>Difficulty level</h3>
        <p>{{ quiz.difficulty }}</p>
      </div>
      <div class="info-item">
        <h3>Type</h3>
        <p>{{ quiz.type }}</p>
      </div>
      <div class="info-item">
        <h3>Created At</h3>
        <p>{{ quiz.createdAt | date: "MMM d, y, h:mm:ss a" }}</p>
      </div>
    </div>
  </div>
  <div class="action-btns">
    <button mat-raised-button color="warn" (click)="deleteQuiz()">Detele Quiz</button>
  </div>
</div>
