<form class="login-form">
  <!-- Title -->
  <h1>Login</h1>

  <!-- Email id -->
  <mat-form-field class="input-wrapper">
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      [formControl]="emailFormControl"
      placeholder="Ex. pat@example.com"
    />
    <mat-error
      *ngIf="
        emailFormControl.hasError('email') &&
        !emailFormControl.hasError('required')
      "
    >
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <!-- Password -->
  <mat-form-field class="input-wrapper">
    <mat-label>Password</mat-label>
    <input
      type="password"
      matInput
      [formControl]="passwordFormControl"
      placeholder="your secret"
    />
    <mat-error
      *ngIf="
        passwordFormControl.hasError('pattern') &&
        !passwordFormControl.hasError('required')
      "
    >
      Password should contain 1 special character, 1 uppercase & 1 lowercase
      with 8 character long.
    </mat-error>
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <!-- Button -->
  <button
    mat-raised-button
    color="primary"
    [disabled]="!emailFormControl.valid || !passwordFormControl.valid"
    (click)="loginUser()"
  >
    Login
  </button>
    <button mat-button class="nav-reference" (click)="navToSignup()">
      New user? <span>Create new account</span>
    </button>
</form>
